.newTask{
    display: flex;
    justify-content: center;

    gap: 0.5rem;

    width: 46rem;
    height: 3.37rem;
    margin: 0 auto;

    margin-top: -1.68rem;
}

.newTask input{
    padding: 1rem;

    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);

    width: 100%;

    font-size: 1rem;    
}

.newTask button[type=submit]{
    background: var(--blue-dark);

    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 8px;

    font-size: 0.875rem;
    font-weight: bold;
    line-height: 140%;
    
    padding: 1rem;

    transition: 0.2s;
}

.newTask input:focus{
    outline: transparent;
    border: 1px solid var(--purple);
    
    color: var(--gray-100);
}

.newTask button[type=submit]:hover{
    background: var(--blue);
}